.footer {
    display: flex;
    background-color: var(--primaryColour1);
    justify-content: center;
    height: auto;
}
.footerMain{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-basis: min(1080px, 90vw);
}
.navSecHeader{
    color: var(--secondaryColour1);
}
.fnav{
    display: flex;
}