/* .header{
  display:flex;
  justify-content:center;
  (display: grid;
  grid-template-columns: repeat(12, 1fr);)
} */
/* .headerMain{
  (grid-column: 3/ span 8;)
  display:flex;
  justify-content:center;
  align-items: stretch;
  flex-basis: min(1080px, 90vw);
} */
/* .headerSVGcontainer{
  display: flex;
  flex-grow: 1;
  align-self: center;
} */
/* .logoSvg{
  (background-color: white;)
  outline-width:thin;
  outline-color: var(--highlightColour1);
  outline-style: solid;
  border-radius: 0%;
  width: min(256px);
  height: min(112px);
} */
/* .nav{
  display: flex;
  flex-grow: 1;
  align-self: center;
} */
/* //////////////////////\\\\\\\\\\\\\\\\\\\\\\\\ */
/* .header{
  display: grid;
  grid-template-columns: repeat(12, 1fr) ;
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
}
.headerSVGcontainer{
  grid-column: 2/ span 2;;
}
.nav{
  grid-column: 5/ span 7;
}
@media screen and (max-width: 420px){ } */

.header{
  display:flex;
  justify-content:center;
}
.headerMain{
  display:flex;
  justify-content:center;
  align-items: stretch;
  flex-basis: min(1080px, 90vw);
  padding: 16px 0 16px 0;
}
.menusec{
  display: flex;
  flex-grow: 1;
}
.headerSVGcontainer{
  display: flex;
  flex-grow: 1;
  align-self: center;
}
/* .logoSvg{
  outline-width:thin;
  outline-color: var(--highlightColour1);
  outline-style: solid;
  border-radius: 0%;
  width: min(256px);
  height: min(112px);
} */
.nav{
  display: flex;
  flex-grow: 1;
  align-self: center;
}
@media (max-width: 835px) {
  .headerMain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: min(695px,90vw);
    padding: 8px 0 8px 0;
  }
  .menusec{
    grid-column: 1/span 1;
    display: flex;
    /* align-self: center; */
    /*flex-grow: 1; */
    align-items: center;
  }
  .headerSVGcontainer{
    grid-column: 2/span 1;
    display: flex;
    /* flex-grow: 1;
    align-self: center; */
    justify-content: center;
  }
  .nav{
    grid-column: 3/span 1;
    display: flex;
    /* flex-grow: 1;
    align-self: center; */
  }
}