.header{
    display:flex;
    justify-content:center;
    /*display: grid;
    grid-template-columns: repeat(12, 1fr);*/
}
.headerMain{
    /*grid-column: 3/ span 8;*/
    display:flex;
    justify-content:center;
    align-items: stretch;
    flex-basis: min(1080px, 90vw);
}
.headerSVGcontainer{
    display: flex;
    align-self: center;
}
.logoSvg{
    /*background-color: white;*/
    outline-width:thin;
    outline-color: var(--highlightColour1);
    outline-style: solid;
    border-radius: 0%;
}

/*header nav ul {
    display:flex;
    margin: 0;
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
}*/

@media screen and (max-width: 420px){ }