.testimonials {
    background-color: var(--secondaryColour2);
    display: flex;
    flex-direction: column;
}
.testimonialsheading{
    display: flex;
    justify-content: center;
}
.testimonialsTitle{
    color: var(--HighlightColour2);
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
.testimonialsContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 3.31rem;
    margin-bottom: 4rem;
}
.testimonialcards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: min(1080px, 90vw);
    overflow: hidden;
}