/* .specialsSec{
    margin-top: 4rem;
    margin-bottom: 5.69rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .specialsHeadingSec{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    justify-content: center;
} */

/* .specialsHeading{
    display: flex;
    flex-direction: row;
    color: var(--HighlightColour2);
    flex-basis: min(969px, 80vw);
    justify-content: space-between;
    align-items: baseline;
} */

/* .specialsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

/* .specialsCards{
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    flex-basis: min(860px, 80vw);
    flex-wrap:wrap;
} */
.specialsSec{
    margin-top: 4rem;
    margin-bottom: 5.69rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.specialsHeadingSec{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    justify-content: center;
}
.specialsHeading{
    display: flex;
    flex-direction: row;
    color: var(--HighlightColour2);
    flex-basis: min(969px, 80vw);
    justify-content: space-between;
    align-items: baseline;
}.specialsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.specialsCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(192px, 256px));
    grid-template-rows: auto;
    row-gap: min(24px);
    flex-basis: min(860px, 80vw);
    justify-content: space-evenly;
}