body {
  margin: 0;
  font-family: 'karla', 'Markazi-text';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,  */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root{
  --primaryColour1: #495E57;
  --primaryColour2: #F4CE14;
  --secondaryColour1: #EE9972;
  --secondaryColour2: #FBDABB;
  --highlightColour1: #FDEFEE;
  --highlightColour2: #333333;
  --primaryFontFamily: "karla";
  --SecondaryFontFamily: "markazi-text";
}
.DisplayTitle{
  font-family: var(--SecondaryFontFamily);
  font-size: clamp(40px, 10vw, 85.33px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.SubTitle{
  font-family: var(--SecondaryFontFamily);
  font-size: 40px; /*clap( 26.7, 10vw , 53.4)*/
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.LeadText{
  font-family: var(--primaryFontFamily);
  font-size: clamp( 12px, 2vw , 24px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.SectionTitle{
  font-family: var(--primaryFontFamily);
  font-size: 20px; /*clap( 13.4, 10vw , 26.7)*/
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.SpecialSec{
  font-family: var(--primaryFontFamily);
  font-size: 16px; /*clap( 10.7, 10vw , 21.4*/
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.CardTitle{
  font-family: var(--primaryFontFamily);
  font-size: 18px; /*clap( 12, 10vw , 24)*/
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.HighlightText{
  font-family: var(--primaryFontFamily);
  font-size: clamp( 10.7px, 2vw , 21.4px);
  font-style:normal;
  font-weight: 500;
  line-height: normal;
}

.ParagraphText{
  font-family: var(--primaryFontFamily);
  font-size: clamp( 10.7px, 2vw , 21.4px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em; /*(16, 32)*/
}

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

p{
  margin: 0%;
}
/* @media (max-width: 835px) {
  .DisplayTitle{
    font-size: clamp(64px, 10vw , 85.3333px);
  }
  .SubTitle{
    font-size: 53.3333px;
  }

  .LeadText{
    font-size: 24px;
  }

  .SectionTitle{
    font-size: 26.7px;
  }

  .SpecialSec{
    font-size: 21.3333px;
  }

  .CardTitle{
    font-size: 24px;
  }

  .HighlightText{
    font-size: 21.3333px;
  }

  .ParagraphText{
    font-size: 21.3333px;
    line-height: 31.5px;
  }
}
@media (max-width: 430px) {
  .DisplayTitle{
    font-size: clamp(40px, 10vw , 64px);
  }
  .SubTitle{
    font-size: 40px;
  }

  .LeadText{
    font-size: 18px;
  }

  .SectionTitle{
    font-size: 20px;
  }

  .SpecialSec{
    font-size: 16px;
  }

  .CardTitle{
    font-size: 18px;
  }

  .HighlightText{
    font-size: 16px;
  }

  .ParagraphText{
    font-size: 16px;
    line-height: 24px;
  }
} */